@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}
:root {
  --prime-color: #e4d801;
  --second-color: #1e1b29;
  --pg-color: #bcbcbc;
  --white-stroke: #fff;
}

/* Reusable claases for even esier responsive control */
.Section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 120px 12%;
  gap: 50px;
}
.Section_title {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Section_title .span {
  color: var(--prime-color);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.Section_title .span2 {
  color: var(--white-stroke);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  position: relative;
  padding-left: 50px;
}
.Section_title .span2:after {
  content: '';
  position: absolute;
  top: 45%;
  left: 0;
  height: 10%;
  width: 5%;
  background-color: var(--prime-color);
}
.Section_title h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--white-stroke);
}
.Section_title p {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: var(--pg-color);
  font-size: 22px;
}
.Section_image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section_image img {
  width: 100%;
}
/* Hero btn Styling GO *********/
.btn {
  width: 180px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 10px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  text-transform: uppercase;
  overflow: hidden;
  border: none;
  color: var(--white-stroke);
  border: 2px solid var(--prime-color);
}
.btn a {
  color: var(--white-stroke);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  transition: 0.5s;
}
.btn i {
  color: var(--white-stroke);
  font-size: 1.2rem;
}
.btn:hover {
  background-color: var(--prime-color);
}
.btn:hover a {
  color: var(--second-color);
}
.btn:hover i {
  color: var(--second-color);
}

/* Styling the Navbar**********************/
.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Styling du logo ************/
.logo {
  width: 10%;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}
#menu {
  display: flex;
  align-items: center;
}
#menu li {
  padding: 0 12px;
}

#menu li a {
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px;
  color: var(--white-stroke);
  font-weight: 600;
  transition: 0.6s;
}
#menu li a:hover {
  color: var(--prime-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--white-stroke);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--white-stroke);
}
.container i {
  font-size: 1.4rem;
  transition: 0.6s;
}
#earth {
  color: var(--prime-color);
}
/* Styling the Navbar's icons + dropdown***/
.icon {
  display: flex;
  align-items: center;
  pad: 0 8px;
  border: 3px soliod #ffffff67;
  height: 22px;
}
#lang_dropdown {
  background-color: transparent;
  color: var(--white-stroke);
  padding: 6px;
  border: none;
  text-transform: uppercase;
}

#lang_dropdown option {
  background-color: #fff;
  color: #000;
}
#toggle {
  color: var(--white-stroke);
  background-color: var(--prime-color);
  font-size: 30px;
  padding: 8px;
  border-radius: 8px;
  display: none;
}
.nav_bar {
  height: 40px;
  width: 120px;
  border-radius: 30px;
}
.nav_btn a {
  font-size: 14px;
}

/* Start Styling Hero  ************/
.hero {
  width: 100%;
  min-width: 100vh;
  position: relative;
  background-image: url(image/banner_bg01.jpg);
  background-size: cover;
  background-position: center center;
}
.hero_title h3 {
  color: var(--prime-color);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.hero_title {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  color: var(--white-stroke);
}
.hero_title h1 {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white-stroke);
}
.hero_title h1 span {
  color: var(--prime-color);
}
.hero_title ul {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 12px 0;
}
.hero_title .quality span {
  border: 1px solid var(--white-stroke);
  text-transform: uppercase;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}
.hero_title .quality span:hover {
  border-color: var(--prime-color);
}

.hero_title .category a {
  color: var(--white-stroke);
  font-size: 1rem;
}
.hero_title.Relese_Time span {
  font-size: 1rem;
}
.hero_title .Relese_Time span i {
  padding-right: 3px;
  color: var(--prime-color);
}
/* STyling Hero Button in the buttom left */
.hero_title button {
  margin-top: 40px;
}
/* End Styling Hero SECTION ************/

/* Start Styling the UPCOMING MOVIES ***********/
.Upcoming_Movies {
  width: 100%;
  flex-direction: column !important;
  background-image: url('image/ucm_bg.jpg'); /* Add quotes around the URL */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.Upcoming_Movies:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #100e17;
  opacity: 0.85;
}

.Upcoming_Movies .Ucm_Bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('image/ucm_bg_shape.png'); /* Add quotes around the URL */
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.Upcoming_Movies_title {
  width: 100%;
  justify-content: space-between !important;
  flex-direction: row !important;
  z-index: 10;
  color: var(--white-stroke);
}
.Upcoming_Movies_Heading {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Upcoming_Movies_title ul {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Upcoming_Movies_title ul li {
  height: 40px;
  width: 120px;
  font-size: 0.8rem;
  border: 2px solid #2d303d;
  background-color: #20212b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 500;
  transition: 0.3s;
}
.Upcoming_Movies_title ul li:hover {
  border-color: var(--prime-color);
  cursor: pointer;
}
/*Start Styling the Upcoming movies Slider******/
.Upcoming_Movies_Splides {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: relative;
}
.Section_Item {
  width: 100%;
  block-size: cover;
  background-position: center;
}

.Section_Item_Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: 20px;
  color: var(--white-stroke);
}

.Section_Item_Content_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Section_Item_Content_top h5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.Section_Item_Content_top span {
  font-size: 0.9rem;
  color: var(--prime-color);
}
.Section_Item_Content_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Section_Item_Content_bottom .Box span {
  border: 2px solid var(--white-stroke);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px;
  text-transform: uppercase;
}

.Section_Item_Content_bottom .Time_and_Reating {
  color: var(--pg-color);
  font-size: 0.8rem;
}

.Section_Item_Content_bottom .Time_and_Reating i {
  padding-left: 10px;
}

.Upcoming_Movies_Tracks {
  padding: 50px 0;
}
.splide__arrow--next {
  position: absolute !important;
  top: 0 !important;
  left: 100% !important;
  height: 40px !important;
  width: 60px !important;
  background-color: var(--second-color) !important;
  border-radius: 0px 50px 50px 0px;
  border-left: 3px solid #2d303d !important;
}
.splide__arrow svg {
  fill: var(--white-stroke) !important;
}

.splide__arrow--prev {
  position: absolute !important;
  top: 0 !important;
  left: 92% !important;
  height: 40px !important;
  width: 60px !important;
  background-color: var(--second-color) !important;
  border-radius: 50px 0px 0px 50px !important;
}

/*End Styling the Upcoming movies Slider******/

/*End Styling the UPCOMING MOVIES ***********/
/* Start Styling Services SEC *********************/
.Services {
  position: relative;
  width: 100%;
  background-image: url(image/services_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  gap: 100px;
}
.Service_image {
  position: relative;
}
.Service_image img {
  width: 70%;
}
.Service_title h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 700;
  width: 80%;
}

.Service_title p {
  width: 80%;
  font-size: 0.9rem;
}
.Service_title ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}
.Service_title ul li {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding-bottom: 30px;
}
.Service_title ul li:nth-child(1) {
  border-bottom: 2px solid #ffffff34;
}
.Service_title ul li .Svs_Icon {
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px dotted var(--prime-color);
}
.Service_title ul li .Svs_Icon i {
  color: var(--white-stroke);
  background-color: #e4d90400;
  font-size: 2.2rem;
  height: 85%;
  width: 85%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.Service_title ul li .Svs_Icon i:hover {
  background-color: var(--prime-color);
}
.Service_title .Svs_info h5 {
  color: var(--white-stroke);
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.service_btn {
  position: absolute;
  height: 100px;
  width: 220px;
  letter-spacing: 3px;
  right: -26%;
  border-radius: 8px;
  bottom: 6.5%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: var(--second-color);
  background-color: var(--prime-color);
  font-weight: 400;
  font-size: 12px;
}

.ri-download-fill {
  color: var(--second-color) !important;
}

.service_btn:hover {
  background-color: var(--white-stroke);
  color: var(--prime-color);
}
.service_btn:hover i {
  color: var(--prime-color) !important;
}
/* End Styling Services SEC ***********************/

/* Start Styling Online STRaMing SEC ******/
.Streaming {
  width: 100%;
  background-image: url(image/live_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--second-color);
}
.Streaming_title {
  width: 40%;
}
.Streaming_title .span2 {
  color: var(--second-color) !important;
}
.Streaming_title h2 {
  color: var(--second-color) !important;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.Streaming_title p {
  font-size: 1rem;
  color: var(--second-color);
}
.Streaming_details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Streaming_details h1 {
  font-size: 4rem;
  -webkit-text-stroke: 2px #ff0303;
  -webkit-text-fill-color: transparent;
}
.Streaming_info {
  display: flex;
  flex-direction: column;
}
.Streaming_info h2 {
  font-weight: 700 !important;
}

.Streaming_info h5 {
  font-size: 1.1rem;
  font-weight: 500;
}
.Streaming_title button {
  background-color: var(--prime-color);
  margin-top: 20px;
}
.Streaming_title button:hover {
  background-color: transparent;
  color: var(--second-color);
  border-color: var(--prime-color);
}
.Streaming_image {
  width: 60%;
}
/* End Styling Online STRaMing SEC ******/
/* Start BIG MOVIES SLIDER ****************/
.movie_splide {
  background-image: url(image/tv_series_bg.jpg);
  padding: 3% 8%;
}
.movies_Splides {
  width: 100%;
}
.movies_Splides .splide__arrow--prev,
.movies_Splides .splide__arrow--next {
  background-color: #e4d801 !important;
}
.movies_Splides .splide__arrow--next {
  left: 102.5% !important;
  top: 50% !important;
}
.movies_Splides .splide__arrow--prev {
  left: -6% !important;
  top: 50% !important;
}
.movie_slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie_slide img {
  width: 100%;
  object-fit: cover;
}
/* End BiG MOVIES SLIDER ******************/
/* Start Contact SECTION ******************/
.Contact {
  background-image: url(image/contact_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Contact_title {
  width: 100%;
}
.Contact_title .span2:after {
  width: 20%;
}
.Contact_title .span2 {
  font-size: 1.3rem;
}
.Contact {
  background-image: url(image/contact_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 130%;
  align-items: flex-start;
}
.Conact_form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Contact_head h2 {
  font-size: 1.5rem;
  color: var(--white-stroke);
  position: relative;
}
.Contact_head h2:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 10%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--prime-color);
}
.inputs_container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3%;
  border: 1px solid rgba(131, 131, 131, 0.5);
}
.inputs_head {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.inputs_container input {
  width: 100%;
  height: 50px;
  background-color: #1f1e24;
  padding-left: 4%;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #000;
  color: var(--white-stroke);
  border: 1px solid #000;
  transition: 0.6s;
  ::placeholder {
    color: var(--white-stroke);
  }
}
.inputs_container input:active,
.inputs_container input:focus {
  border: 1px solid var(--prime-color);
}

.inputs_container textarea {
  width: 100%;
  height: 150px;
  background-color: #1f1e24;
  padding: 1% 4%;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #000;
  color: var(--white-stroke);
  border: 1px solid #000;
  transition: 0.6s;
  ::placeholder {
    color: var(--white-stroke);
  }
}
.inputs_container textarea:active,
.inputs_container textarea:focus {
  border: 1px solid var(--prime-color);
}
.inputs_container button {
  width: 200px;
  margin: 20px 0;
}
.inputs_container button:hover {
  color: var(--second-color) !important;
}
.information {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.contact_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
  background-color: #1f1e24;
  margin-top: 70px;
}
.contact_info p {
  color: var(--pg-color);
  font-size: 1.2rem;
  font-weight: 400;
}
.contact_info p span {
  font-weight: 600;
  color: var(--white-stroke);
}

.contact_info_det {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.contact_det {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid rgba(131, 131, 131, 0.5);
  padding: 4% 0;
}
.contact_det i {
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--prime-color);
  color: var(--second-color);
  font-size: 1.7rem;
  transition: 0.6s;
}
.contact_det:hover i {
  background-color: transparent;
  box-shadow: 0 0 5px #fff;
  color: var(--prime-color);
  cursor: pointer;
}
.contact_det h2 {
  color: var(--white-stroke);
  font-weight: 400;
  font-size: 1.3rem;
}
.contact_det h2 span {
  font-weight: 300;
  color: var(--pg-color);
}
/* End Contact SECTION ******************/
